<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/styles/editpost.css">
</head>
<body>
    <h1>Edit Post</h1>
    <div class="editform">
        <% if(locals.post) { %>
        <form action="/edit/<%= post.id %>" method="post" class="main-form">
                <input type="text" name="title" placeholder="Enter title" value="<%= post.title %>">
                
                <textarea name="content" id="content" placeholder="Enter content"><%= post.content %></textarea>
                
                <input type="text" name="author" placeholder="Enter author" value="<%= post.author %>">
                
                <input type="file" name="editedfile">

                <input type="submit" value="Save" id="save">
        <% } %>
        </form>
    </div>
</body>
</html>
