<!-- Crating new posts -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" href="/styles/newpost.css">
</head>

<body>
    <h1>New Post</h1>
    <p>Create a blog of any topic of your choice. You can even upload any images to prove your work.
        Get everything ready set and go click on the "Create Post" and make it public.
    </p>
    <div class="newpost">
        <form action="/new" method="post" id="main-form" enctype="multipart/form-data">
            <input type="name" placeholder="Name" name="title" required>
            <textarea name="content" id="content" placeholder="The content" required></textarea>
            <input type="text" name="author" placeholder="Author" required>
            <input type="file" name="postFile"><br>
            <p class="formp">You cannot change the files once uploaded. So, carefully choose the files.</p>
            <input type="submit" value="Create Post" id="submit">
        </form>

        
    </div>

</body>

</html>