body{
    margin: 0;
    border: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#logo{
    width: 60px;
    height: 60px;
}

#logo:hover{
    height: 63px;
    width: 63px;
    transition: all 0.3s;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    border-bottom: 2px solid brown;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 1.3rem;
    background-color: rgb(230, 227, 227);
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
}
a:hover{
    background-color: rgba(89, 23, 23, 0.633);
    color: beige;
    box-shadow: 2px 2px 9px 0px rgba(89, 23, 23, 0.633);
    font-size: 1.4rem;
    transition: all 0.3s;
}

.main-post{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 8px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 10px;
}